.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0.5em;
}
#logoAP{
    width: 300px;
    margin-left: 0.5em;
    padding: 10px;
}
img{
    width: 30px;
    margin-inline: 3px;
}
.btn{
    border-width: medium;
    margin-left: 0.5em;
}

/*pantalla de celulares*/
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .redes img{
        margin: 0.2em;
    }
}

