<div class="row">
    <h3>Hard and Soft Skills</h3>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [radius]="100"
           [imageSrc]="'../assets/frontend.png'"
           [showImage]="true"
           [imageHeight]="80"
           [imageWidth]="80"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
        ></circle-progress>
        <h5>Front End</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [radius]="100"
           [imageSrc]="'../assets/backend.png'"
           [showImage]="true"
           [imageHeight]="80"
           [imageWidth]="80"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
        ></circle-progress>
        <h5>Back End</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [radius]="100"
           [imageSrc]="'../assets/database.png'"
           [showImage]="true"
           [imageHeight]="80"
           [imageWidth]="80"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
        ></circle-progress>
        <h5>Data base</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [radius]="100"
           [imageSrc]="'../assets/english.png'"
           [showImage]="true"
           [imageHeight]="80"
           [imageWidth]="80"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
        ></circle-progress>
        <h5>English</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [radius]="100"
           [imageSrc]="'../assets/team work.png'"
           [showImage]="true"
           [imageHeight]="80"
           [imageWidth]="80"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
        ></circle-progress>
        <h5>Team work</h5>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [radius]="100"
           [imageSrc]="'../assets/creativity.png'"
           [showImage]="true"
           [imageHeight]="80"
           [imageWidth]="80"
           [showSubtitle]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
        ></circle-progress>
        <h5>Creativity</h5>
    </div>
    
</div>
