<div class="row">
    <h3>Educación</h3>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
         <li>
             <h4>Instituto Privado Santo Cristo F-37</h4>
         </li>
             <p>
             Secundario completo: Egresado en el año 2000. Título: Perito Mercantil
             </p>
        </ul>
        <ul>
         <li>
             <h4>#YoProgramo</h4> - <h4>(Argentina Programa)</h4>
         </li>
             <p>
             Lorem ip
          <li>   
             <h4>Inglés para desarrolladores de software</h4> - <h4>(Argentina Programa)</h4>
         </li>
             <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem libero obcaecati consectetur placeat cupiditate fuga reiciendis minima, consequuntur non cum accusantium accusamus ab dolore, molestias ipsa. Facilis suscipit soluta fuga!
             </p>
        </ul>
    </div>
 </div>
 
