<div class="row">
   <h1>Experiencia Laboral</h1>
   <div class="col-lg-1"></div>
   <div class="col-lg-11">
       <ul>
        <li>
            <h3>Garbarino</h3> - <h4>(11 años)</h4>
        </li>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem libero obcaecati consectetur placeat cupiditate fuga reiciendis minima, consequuntur non cum accusantium accusamus ab dolore, molestias ipsa. Facilis suscipit soluta fuga!
            </p>
       </ul>
       <ul>
        <li>
            <h3>Garbarino</h3> - <h4>(11 años)</h4>
        </li>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem libero obcaecati consectetur placeat cupiditate fuga reiciendis minima, consequuntur non cum accusantium accusamus ab dolore, molestias ipsa. Facilis suscipit soluta fuga!
            </p>
       </ul>
       <ul>
        <li>
            <h3>Garbarino</h3> - <h4>(11 años)</h4>
        </li>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem libero obcaecati consectetur placeat cupiditate fuga reiciendis minima, consequuntur non cum accusantium accusamus ab dolore, molestias ipsa. Facilis suscipit soluta fuga!
            </p>
       </ul>
   </div>
</div>
