<div class="row">
   <h3>Experiencia Laboral</h3>
   <div class="col-lg-1"></div>
   <div class="col-lg-11">
       <ul>
        <li>
            <h4>Garbarino</h4> - <h4>(11 años)</h4>
        </li>
            <p>
             Logística (recepción de abastecimiento, control de stock, despacho de mercadería). Expedición. Gestión de reclamos, devoluciones y garantías. Soporte técnico
            </p>
        <li>
            <h4>Farmacia Concepción</h4> - <h4>(3 meses)</h4>
        </li>
            <p>
            Atención al cliente. Ventas.
            </p>
       </ul>
   </div>
</div>
